<footer class='footer'>
  <ul class='footer-link'>
    <li>
      <a class='inactive-icon' href='{{githubUrl}}' onmouseout="this.classList.remove('github-hover')"
         onmouseover="this.classList.add('github-hover')"
         title='Github'>
        <fa-icon [icon]='githubIcon'></fa-icon>
      </a>
    </li>
    <li>
      <a class='inactive-icon' href='{{telegramUrl}}' onmouseout="this.classList.remove('telegram-hover')"
         onmouseover="this.classList.add('telegram-hover')"
         title='Telegram'>
        <fa-icon [icon]='telegramIcon'></fa-icon>
      </a>
    </li>
    <li>
      <a class='inactive-icon' href='mailto:{{email}}' onmouseout="this.classList.remove('email-hover')"
         onmouseover="this.classList.add('email-hover')"
         title='Email'>
        <fa-icon [icon]='emailIcon'></fa-icon>
      </a>
    </li>
  </ul>
  <ul>
    <li [innerHTML]="'Copyright © ' + Options.copyright_notice + ' - ' + Options.CUR_YEAR"></li>
  </ul>
</footer>
