<footer class='footer' itemscope itemtype='https://schema.org/WPFooter'>
  <meta content='{{Options.CUR_YEAR}}' itemprop='copyrightYear'>
  <meta content='{{Options.copyright_notice}}' itemprop='copyrightHolder'>
  <ul class='footer-link'>
    <li>
      <a class='inactive-icon' href='{{Options.githubUrl}}' onmouseout="this.classList.remove('github-hover')"
         onmouseover="this.classList.add('github-hover')"
         rel='nofollow' title='Github'>
        <fa-icon [icon]='githubIcon'></fa-icon>
      </a>
    </li>
    <li>
      <a class='inactive-icon' href='{{Options.telegramUrl}}' onmouseout="this.classList.remove('telegram-hover')"
         onmouseover="this.classList.add('telegram-hover')"
         rel='nofollow' title='Telegram'>
        <fa-icon [icon]='telegramIcon'></fa-icon>
      </a>
    </li>
    <li>
      <a class='inactive-icon' href='mailto:{{Options.email}}' onmouseout="this.classList.remove('email-hover')"
         onmouseover="this.classList.add('email-hover')"
         title='Email'>
        <fa-icon [icon]='emailIcon'></fa-icon>
      </a>
    </li>
  </ul>
  <ul>

    <li>
      © {{ Options.copyright_notice }}
      <fa-icon [icon]='heartIcon' animation='beat'></fa-icon>
      - {{ Options.CUR_YEAR }}
    </li>
  </ul>
</footer>
