<ng-container>
  <header class='header'>
    <nav class='nav'>
      <a [routerLink]="['/']" class='logo' title="{{options['site_name']}}">
        <img alt="{{options['site_name']}}" class='logo' src='/assets/images/logo{{isDark ? "_b" : ""}}.png' />
      </a>
      <ul class='nav-list main-menu' itemscope itemtype='https://schema.org/SiteNavigationElement'>
        <li><a [routerLink]="['/projects']" itemprop='url' title="{{options['site_name']}} projects">Projects</a></li>
        <li><a [routerLink]="['/about']" itemprop='url' title="{{options['site_name']}} about">About</a></li>
      </ul>
      <ul class='link-list main-menu'>
        <li><a (click)='toggleTheme()'>
          <fa-icon [icon]='currentTheme === "dark" ? lightThemeIcon : darkThemeIcon'></fa-icon>
        </a></li>
        <li><a (click)='toggleSearchOpen()' target='_blank' title='Search'>
          <fa-icon [icon]='searchIcon'></fa-icon>
        </a></li>
      </ul>
      <div class='navbar'>
        <div class='nav-container'>
          <input (click)='toggleOverflow()' class='checkbox hamburger-action-button' id='ham' type='checkbox' />
          <div class='hamburger-lines hamburger-action-button'>
            <span class='line line1'></span>
            <span class='line line2'></span>
            <span class='line line3'></span>
          </div>
          <div class='menu-items'>
            <li><a (click)='hideMenu()' [routerLink]="['/']" title="{{options['site_name']}}">Home</a></li>
            <li><a (click)='hideMenu()' [routerLink]="['/projects']"
                   title="{{options['site_name']}} projects">Projects</a></li>
            <li><a (click)='hideMenu()' [routerLink]="['/about']" title="{{options['site_name']}} about">About</a></li>
            <li><a (click)='toggleSearchOpen()' target='_blank' title='Search'>
              <fa-icon (click)='hideMenu()' [icon]='searchIcon'></fa-icon>
            </a></li>
            <li><a (click)='toggleTheme()'>
              <fa-icon (click)='hideMenu()' [icon]='isDark ? lightThemeIcon : darkThemeIcon'></fa-icon>
            </a></li>
          </div>
        </div>
      </div>
    </nav>
  </header>
</ng-container>
