<div class='content'>
  <div class='card'>
    <div class='card-header'>Post Form |
      <fa-icon (mouseup)='backToPost()' [icon]='returnIcon' class='pointer' title='Back to post'></fa-icon>
    </div>
    <div class='card-body'>
      <form (keydown.enter)='$event.preventDefault()' [formGroup]='postForm' class='post-form'>
        <div class='form-row mb-3'>
          <div class='label-col'>
            <label class='form-label' for='title'>Title:</label>
          </div>
          <div class='input-col'>
            <input [value]='post.title' class='form-control' formControlName='title' id='title' name='title'
                   placeholder='Enter Title'>
          </div>
        </div>
        <div class='form-row mb-3'>
          <div class='label-col'>
            <label class='form-label' for='image'>Image:</label>
          </div>
          <div class='input-col'>
            <input (change)='onImageChange()' [value]='post.image' class='form-control' formControlName='image'
                   id='image'
                   name='image' placeholder='Enter Image URL'>
          </div>
        </div>
        <div class='form-row mb-3'>
          <div class='label-col'>
            <label class='form-label' for='content'>Text:</label>
          </div>
          <div class='input-col'>
            <editor [init]='TinyMCEConfig' [initialValue]='post.content' class='form-control' formControlName='content'
                    id='content'></editor>
          </div>
        </div>
        <div class='form-row mb-3'>
          <div class='label-col'>
            <label class='form-label' for='description'>Description:</label>
          </div>
          <div class='input-col'>
            <textarea [value]='post.description' class='form-control' formControlName='description' id='description'
                      maxlength='400' placeholder='Short description' rows='3'></textarea>
          </div>
        </div>
        <div class='form-row mb-3'>
          <div class='label-col'>
            <label class='form-label'>Tags:</label>
          </div>
          <div class='input-col'>
            <app-tag-input (onAdd)='addTag($event)' (onRemove)='removeTag($event)'
                           [postSlug]='post.slug' [tags]='post.tags ? post.tags : []'></app-tag-input>
          </div>
        </div>
        <div class='form-row mb-3'>
          <div class='label-col'>
            <label class='form-label' for='commentaries_open'>Commentaries:</label>
          </div>
          <div class='input-col'>
            <input [checked]='post.commentaries_open' class='form-check-input' formControlName='commentaries_open'
                   id='commentaries_open' type='checkbox'>
          </div>
        </div>
        <div class='form-row mb-3'>
          <div class='label-col'>
            <label class='form-label' for='slug'>Slug:</label>
          </div>
          <div class='input-col'>
            <input (change)='onSlugChange()' [value]='post.slug' class='form-control' formControlName='slug' id='slug'
                   name='slug' placeholder='Enter Slug'>
          </div>
        </div>
        <div class='form-row button-row'>
          <div class='btn-container btn-container-left'>
            <button (click)='postForm.reset()' class='btn btn-secondary' type='reset'>Reset</button>
          </div>
          <div class='btn-container btn-container-center'>
            <button (click)='send()' class='btn btn-primary' type='submit'>Save</button>
          </div>
          <div class='btn-container btn-container-right'>
            <button (click)='delete()' *ngIf='post.id > 0' class='btn btn-danger'>Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
