<div id='sider'>
  <div (click)='onClick($event)' class='search hide-search'>
    <div class='search-container'>
      <div class='search-close'>
        <i class='iconfont iconbaseline-close-px'></i>
      </div>
      <div class='search-input-wrapper'>
        <input (keyup.enter)='search()' [(ngModel)]='keyword' autocapitalize='off' autocomplete='off' autocorrect='off'
               class='search-input' id='search-input'
               name='keyword' placeholder='Enter your request here...' type='search'>
        <fa-icon (click)='search()' [icon]='searchIcon' class='search-icon'></fa-icon>
      </div>
    </div>
  </div>
</div>
