//@media (min-width: 1800px) {
//  .toc {
//    left: 15vw;
//  }
//}
//
//@media (max-width: 1500px) {
//  .toc {
//    display: none;
//  }
//}

.toc-section {
  position: relative;
  left: 5em;
}

.toc-wrap {
  position: fixed;
  top: 10em;
  z-index: 10;
  padding: 20px;
}

@media (max-width: 1600px) {
  .toc-section {
    display: none;
  }
}

.toc-wrap ol,
.toc-wrap li {
  list-style: none;
}

.toc-wrap .toc-title {
  font-weight: bold;
}

.toc-wrap .toc {
  position: relative;
  margin: 0;
  padding: 0;
}

.toc-wrap .toc .toc-link {
  display: block;
  padding: 4px 1rem;
  border-left: 3px solid transparent;
  color: var(--color-text-third);
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.toc-wrap .toc .toc-link.active {
  color: #ff3b00;
  font-weight: bold;
}

.toc-wrap .toc .toc-child {
  padding-left: 1rem;
}

.toc-active {
  .toc-text {
    color: var(--color-text);
  }
}

