<div *ngIf='tocList.length > 0' class='toc-section'>
  <aside class='toc-wrap'>
    <h3 class='toc-title'>Contents:</h3>
    <ol class='toc'>
      <ng-container *ngFor='let toc of tocList'>
        <li class='toc-item {{"toc-lvl-" + toc.lvl}}' id='toc-{{toc.id}}'>
          <a class='toc-link' href='{{baseUrl}}#{{toc.id}}'>
            <span class='toc-text'>{{toc.name}}</span>
          </a>
        </li>
      </ng-container>
    </ol>
  </aside>
  <svg id='toc-svg' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'>
    <path fill='none' stroke-width='2' transform='translate(-0.5, -0.5)' #tocPath d='' />
  </svg>
</div>
<div class='toc-block mobile-toc'>
  <h3 class='toc-title'>Table of Contents:</h3>
  <ng-container *ngFor='let toc of tocList'>
    <ul>
      <li>
        <a [style]='"toc-lvl-" + toc.lvl' href='{{baseUrl}}#{{toc.id}}'>
          <span class='post-link-text'>- {{toc.name}}</span>
        </a>
      </li>
    </ul>
  </ng-container>
</div>
