<div *ngIf='!isMobile' class='banner'>
  <ul>
    <li><img alt="{{options['site_name']}}" src='/assets/images/banner.png' /></li>
  </ul>
</div>
<div [ngClass]="{'article-list-desktop': !isMobile}">
  <article
    *ngFor='let post of postList'
    [ngClass]="{'article-desktop': !isMobile, 'article-mobile': isMobile}"
    class='article'>
    <header>
      <a class='article-link'
         [routerLink]="['/' + post.slug]" rel='bookmark'
         title='{{post.title}}'>
        <img src='{{post.image}}' alt='Article image'>
      </a>
      <div class='article-card'>
        <h3>
          <a [routerLink]="['/' + post.slug]" rel='bookmark' title='{{post.title}}'>{{post.title}}</a>
        </h3>
        <div class='article-meta article-meta-top'>
      <span title='Date of article creation.'>
        <i class='icon icon-calendar'></i><span>{{post.updated_at | date:'EEE, MMMM d, y'}}</span>
      </span>
        </div>
      </div>
    </header>
    <div class='article-content'>
      <p class='article-excerpt'>
        <span [innerHTML]='post.short_content'></span>
        <a [routerLink]="['/' + post.slug]" class='read-more' title='{{post.title}}'>..read more</a>
      </p>
      <div *ngIf='post.tags?.length ?? 0 > 0' class='article-meta article-meta-bottom'>
        <div *ngIf='post.tags?.length ?? 0 > 0' class='article-meta-tag'>
          <div class='article-meta-icon'><i class='icon icon-tag'></i></div>
          <ul class='article-meta-info tag-list'>
            <li *ngFor='let tag of post.tags'>
              <a [routerLink]="['/tag/' + tag.slug]" class='tag-list-item'
                 rel='category' title='{{tag.name}}'>{{tag.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </article>
</div>
<app-page-bar [paginator]='paginatorData' [param]='pageUrlParam' [url]='pageUrl'>
  <div class='sort-button-dropdown' *ngIf='postList?.length ?? 0 > 0'>
    <a nz-dropdown [nzDropdownMenu]='menu'>
      <fa-icon [icon]='sortIcon'></fa-icon>
    </a>
    <nz-dropdown-menu #menu='nzDropdownMenu'>
      <ul nz-menu nzSelectable>
        <li nz-menu-item>
          <button class='sort-button' (click)="changeSort('newest')" [disabled]='this.sort === "newest"'>Newest</button>
        </li>
        <li nz-menu-item>
          <button class='sort-button' (click)="changeSort('oldest')" [disabled]='this.sort === "oldest"'>Oldest</button>
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>
</app-page-bar>
