<div class='about-banner'>
  <img src='/assets/images/about-bg.png' alt='About me' />
</div>
<div class='title'>
  <div class='title-gradient'>A little about me</div>
</div>
<p>
  Hello, I am Venny!<br>
  As a child I, like any other child, was very much inspired by magic tricks, the other facet that I liked was the
  desire to build something, I took out the motors from toy cars and tried to make something out of them and sometimes
  it worked!
</p>
<p>
  When I grew up I got my first computer and unfortunately or luckily I couldn't even install games on it, it was very
  weak and so I spent all day long studying the inner files and trying to invent something interesting :)
</p>
<p>
  By the time I got to a new computer and got some Internet I was about 10 and when I stumbled on the opportunity to
  create simple wml sites (hello old web 1.0, i was there 3000 years ago xD), I found a piece of that magic tricks from
  my childhood, here is the text in notepad *poof* and here is the page
  ..wow, I got really into it.
</p>
<p>
  That's how my career sprouted. But I usually count the hobby of programming itself from ~12 when I started to do some
  php etc.
</p>
<div class='title'>
  <div class='title-gradient'>Life beyond work</div>
</div>
<p>
  If asking about what I love 4 out of 5 points would be cats :)
  and if more expanded, I love to ride bikes, enjoy nature, hiking, climbing the peaks of steep mountains,
  and one of the innermost things is helping street kitties build shelters, I dream of someday making a bigger
  contribution to that cause.<br>
  On top of that, I really love taking nature photos, printing in them moments when nature is fascinating.
</p>
<p>
  I also really like to improve my qualification, yes I would categorize that as a hobby as well, because I like it :)
  Moreover I like to study new approaches, new patterns, to analyze architecture of applications, to read interesting
  articles, interesting books.
</p>
