<div class='about-banner'>
  <img alt='About me' src='/assets/images/about-bg.png' />
</div>
<div class='title'>
  <div class='title-gradient'>A little about me</div>
</div>
<p>Hello, I am Venny - a lifelong lover of magic tricks and a curious creator at heart.&nbsp;As a child, I was
  fascinated by the world of magic of engineering and spent hours tinkering with toy car motors to build something new.&nbsp;</p>
<p>When I got my first computer, I dove headfirst into exploring its inner workings and inventing something interesting.&nbsp;My
  passion for programming truly took off when I discovered the opportunity to create simple wml sites at the age of
  10.</p>
<p>I was hooked by the magic of taking a text file and turning it into a fully functioning webpage.&nbsp;From there, my
  career in programming blossomed. While I typically count my official start in programming from the age of 12 when I
  began dabbling in PHP, my curiosity and love for creating has been with me since childhood.</p>
<div class='title'>
  <div class='title-gradient'>Life beyond work</div>
</div>
<p>My passions are as diverse as they are exciting! If you ask me what I love most, I'll tell you that 4 out of 5 times
  it's cats - I just can't resist their adorable little faces!</p>
<p>But my interests don't stop there. I'm an avid cyclist, and nothing beats the thrill of exploring nature on two
  wheels. When I'm not pedaling through the great outdoors, you can find me hiking or climbing the steepest mountains in
  search of the perfect vista.</p>
<p>But what really sets my heart ablaze is helping street kitties build shelters. There's something so rewarding about
  knowing that I'm making a difference in the lives of these furry little friends. I dream of one day making an even
  bigger contribution to this cause.</p>
<p>When I'm not busy with my feline friends, you'll often find me behind the lens of my camera, capturing the
  breathtaking beauty of nature. Whether it's a majestic mountain range or a tiny wildflower, I love to print these
  moments and preserve them forever.</p>
<p>And let's not forget about my thirst for knowledge! Improving my qualifications is a hobby that I'm passionate about.
  I love learning new approaches and patterns, analyzing the architecture of applications, and reading fascinating
  articles and books. There's always something new to discover, and that's what keeps me going!</p>
