<div class='login'>
  <div [@shakeForm]='formStatus' class='login-body'>
    <form (ngSubmit)='!isRegisterMode ? login() : register()' [formGroup]='!isRegisterMode ? loginForm : registerForm'
          class='login-form'>
      <div class='login-form-row'>
        <label class='login-form-label' for='username'>Username</label>
        <input [autofocus]='autoFocus.username' autocomplete='off' class='input' formControlName='username'
               id='username'
               maxlength='20' tabindex='10' type='text' />
      </div>
      <div *ngIf='isRegisterMode' class='login-form-row'>
        <label class='login-form-label' for='username'>Email</label>
        <input [autofocus]='autoFocus.email' autocomplete='off' class='input' formControlName='email' id='email'
               maxlength='20' tabindex='10' type='text' />
      </div>
      <div class='login-form-row'>
        <label class='login-form-label' for='password'>Password</label>
        <input [autofocus]='autoFocus.password' class='input' formControlName='password' id='password' maxlength='20'
               tabindex='20' type='password' />
      </div>
      <div class='login-form-row'>
        <div class='login-form-col'>
          <input class='button button-submit' tabindex='100' type='submit'
                 value="{{isRegisterMode ? 'Register' : 'Login'}}" />
          <p>or <a (click)='turnRegisterMode()' href='user/login#'
                   type='button'>{{isRegisterMode ? 'Login' : 'Register'}}</a></p>
        </div>
      </div>
    </form>
  </div>
</div>
