@import "../../../styles/variables";

.project-text {
  color: var(--color-text);
  margin-bottom: 0.5em;
}

.project-title {
  font-size: 1.5rem;
  font-weight: 500;
  place-content: space-between;
  margin: 0;
  color: var(--color-text);
}

.project-description {
  font-size: 1rem;
  font-style: italic;
  color: var(--color-text-secondary);
}

@media (min-width: 1024px) {
  .card-content:hover {
    transform: translate(0.25rem, 0.25rem);
  }
}

.row {
  margin-right: 1em;
  align-items: start;
  display: grid;
  grid-gap: 4.2rem;
  grid-template-columns: repeat(auto-fit, 30rem);
  justify-content: center;
}

.projects-banner {
  display: flex;
  justify-content: center;

  img {
    max-width: 100%;
    height: auto;
  }

}

.card-content {
  transition: all 150ms ease-in-out !important;
  height: 7em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  border: 1px solid var(--color-border);
  padding: 10px 15px;
  width: 20em;
  border-radius: 8px;
}

.card {
  background-color: var(--color-primary) !important;
}

.card-title-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.badge i {
  margin-right: 0.25rem;
}

.tabs li a {
  font-weight: bold;
  transition: 150ms all ease-in-out;
  color: var(--color-primary) !important;
  background-color: var(--color-secondary) !important;
}

.tab a {
  cursor: pointer;
}

.secondary-color {
  background: var(--color-background-secondary);
}

.alert {
  width: 100%;
  background-color: @alert-color;
  padding: 14px 19px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 15px 0;
}
