<ng-container *ngIf='paginator'>
  <div class='paginator'>
    <ul>
      <li *ngIf='paginator.curPage > 1' class='paginator-page'>
        <a (click)='changePage(paginator.prevPage)' title='Previous page'>
          <fa-icon [icon]='prevIcon'></fa-icon>
        </a>
      </li>
      <ng-container *ngIf='paginator.totalPage < 10'>
        <ng-container *ngFor='let v of counter(paginator.totalPage); let i = index'>
          <li *ngIf='i + 1 === paginator.curPage' class='paginator-page active'><span>{{i + 1}}</span></li>
          <li *ngIf='i + 1 !== paginator.curPage' class='paginator-page'>
            <a (click)='changePage(i + 1)' title='#{{i + 1}} page'>{{i + 1}}</a>
          </li>
        </ng-container>
      </ng-container>
      <ng-container *ngIf='paginator.totalPage >= 10 && paginator.curPage <= 5'>
        <ng-container *ngFor='let v of counter(5); let i = index'>
          <li *ngIf='i + 1 === paginator.curPage' class='paginator-page active'><span>{{i + 1}}</span></li>
          <li *ngIf='i + 1 !== paginator.curPage' class='paginator-page'>
            <a (click)='changePage(i + 1)' title='#{{i + 1}} page'>{{i + 1}}</a>
          </li>
        </ng-container>
        <li><span>...</span></li>
        <li class='paginator-page'>
          <a (click)='changePage(paginator.totalPage)' title='#{{paginator.totalPage}} page'>{{paginator.totalPage}}</a>
        </li>
      </ng-container>
      <ng-container *ngIf='paginator.totalPage >= 10 && paginator.curPage >= paginator.totalPage - 4'>
        <li class='paginator-page'><a (click)='changePage(1)' title='Page 1'>1</a></li>
        <li><span>...</span></li>
        <ng-container *ngFor='let v of counter(5); let i = index'>
          <li *ngIf='paginator.totalPage - 4 + i === paginator.curPage' class='paginator-page active'>
            <span>{{paginator.totalPage - 4 + i}}</span></li>
          <li *ngIf='paginator.totalPage - 4 + i !== paginator.curPage' class='paginator-page'>
            <a (click)='changePage(paginator.totalPage - 4 + i)'
               title='{{paginator.totalPage - 4 + i}} page'>{{paginator.totalPage - 4 + i}}</a>
          </li>
        </ng-container>
      </ng-container>
      <ng-container
        *ngIf='paginator.totalPage >= 10 && paginator.curPage > 5 && paginator.curPage < paginator.totalPage - 4'>
        <li class='paginator-page'><a (click)='changePage(1)' title='Page 1'>1</a></li>
        <li><span>...</span></li>
        <ng-container *ngFor='let v of counter(5); let i = index'>
          <li *ngIf='paginator.curPage - 2 + i === paginator.curPage' class='paginator-page active'>
            <span>{{paginator.curPage - 2 + i}}</span></li>
          <li *ngIf='paginator.curPage - 2 + i !== paginator.curPage' class='paginator-page'>
            <a (click)='changePage(paginator.curPage - 2 + i)'
               title='#{{paginator.curPage - 2 + i}} page'>{{paginator.curPage - 2 + i}}</a>
          </li>
        </ng-container>
        <li><span>...</span></li>
        <li class='paginator-page'>
          <a (click)='changePage(paginator.totalPage)' title='#{{paginator.totalPage}} page'>{{paginator.totalPage}}</a>
        </li>
      </ng-container>
      <li *ngIf='paginator.curPage < paginator.endPage' class='paginator-page'>
        <a (click)='changePage(paginator.nextPage)' title='Next page'>
          <fa-icon [icon]='nextIcon'></fa-icon>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <div class='sort-buttons'>
          <button class='sort-button' (click)="changeSort('newest')" *ngIf='curSort === "oldest"'
                  title='Sort by newest'>
            <fa-icon [icon]='sortNewestIcon'></fa-icon>
          </button>
          <button class='sort-button' (click)="changeSort('oldest')" *ngIf='curSort === "newest"'
                  title='Sort by oldest'>
            <fa-icon [icon]='sortOldestIcon'></fa-icon>
          </button>
        </div>
      </li>
    </ul>
  </div>
</ng-container>
