@import "../../../styles/variables";

.post {
  @form-row-margin: 12px;
  @form-item-margin: 8px;
  @form-item-border-radius: 2px;
  margin-top: @content-margin;

  .post-list, .post-form {
    padding: @content-margin;
  }

  .post-form {
    .form-row {
      &:not(.form-btns) {
        margin: 0 -(@form-item-margin / 2);

        > * {
          width: 100%;
          padding: 0 (@form-item-margin / 2);
        }
      }
    }
  }

  .no-posts {
    display: flex;
    justify-content: center;
    padding: 1em 1em 1em 1em;
    background-color: var(--color-text-third);
  }

  .post-list {
    @avatar-size: 50px;
    @m-avatar-size: 32px;
    line-height: @post-line-height;
    overflow: hidden;

    .post-item {
      overflow: hidden;

      &:not(:first-child) {
        border-top: 1px dashed var(--color-border);
      }

      .from {
        display: inline-flex;

        .name {
          margin-right: 8px;
          color: var(--color-text);
          white-space: nowrap;
        }
      }

      .time, .hash {
        font-size: @meta-font-size;
      }

      .parent {
        margin-bottom: 8px;
        padding-left: 8px;
        border-left: 4px solid var(--color-background-third);
        font-size: @minor-font-size;

        .text {
          margin-right: 4px;
          color: var(--color-text);
        }

        .author {
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }

      .actions {
        > :not(:last-child) {
          margin-right: 12px;
        }

        a {
          color: var(--color-text);

          &:not(.disabled):hover {
            color: var(--color-text);
            cursor: pointer;
          }
        }

        .icon {
          margin-right: 4px;
        }
      }
    }

    .post-item {
      &:not(:first-child) {
        margin-top: @primary-margin;
        padding-top: @primary-margin;
      }

      .meta {
        display: flex;
        justify-content: space-between;
        color: var(--color-text-secondary);

        .info {
          display: flex;
          overflow: hidden;
        }

        .author {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          overflow: hidden;
        }

        .hash {
          width: 100px;
          text-align: right;

          a {
            color: var(--color-text-secondary);

            &:hover {
              color: var(--color-text);
            }
          }
        }
      }

      .content {
        margin: @primary-margin 0;
      }

      .actions {
        font-size: @minor-font-size;
      }
    }

    .post-form {
      margin-top: @primary-margin;
      padding: @primary-margin 0 0;
      border-top: 1px dashed var(--color-border);
    }
  }

  .post-form {
    .form-row {
      display: flex;
      justify-content: space-between;

      &:not(:last-child) {
        margin-bottom: @form-row-margin;
      }

      &:not(:first-child) {
        margin-top: @form-row-margin;
      }

      .flex {
        flex-grow: 1;
        flex-shrink: 1;

        .input {
          width: 100%;
        }
      }
    }

    .form-btns {
      justify-content: center;
    }

    .input, .button {
      box-sizing: border-box;
      border-radius: @form-item-border-radius;
    }

    .button:not(:last-child) {
      margin-right: @primary-margin;
    }

    .ng-touched.ng-invalid:not(form) {
      border: 1px solid @input-invalid-color;
    }
  }
}
