<div class='content'>
  <div [formGroup]='postForm' class='post post-form'>
    <div class='form-row'>
      <div class='post-item'>Title:</div>
      <span class='flex'>
        <input [value]='post.title' formControlName='title' name='title'>
      </span>
    </div>
    <div class='form-row'>
      <div class='post-item'>Image:</div>
      <span class='flex'>
        <input [value]='post.image' formControlName='image' name='image' (change)='onImageChange()'>
      </span>
    </div>
    <div class='form-row'>
      <div class='post-item'>Text:</div>
      <span class='flex'>
        <editor [init]='TinyMCEConfig' [initialValue]='post.content' formControlName='content'></editor>
      </span>
    </div>
    <div class='form-row'>
      <div class='post-item'>Description:</div>
      <span class='flex'>
          <textarea [value]='post.description' class='input input-textarea' formControlName='description'
                    maxlength='400' placeholder='Short description' rows='3'></textarea>
        </span>
    </div>
    <div class='form-row'>
      <div class='post-item'>Tags:</div>
      <span class='flex'>
        <tag-input (onAdd)='onTagAdd($event)' (onRemove)='onTagRemove($event)' [allowDupes]='true'
                   [ngModelOptions]='{standalone: true}'
                   [ngModel]='post.tags'
                   [theme]="isDark ? 'dark' : ''"
                   displayBy='name'>
          <tag-input-dropdown [autocompleteObservable]='requestAutocompleteItems' displayBy='name'></tag-input-dropdown>
      </tag-input>
      </span>
    </div>
    <div class='form-row'>
      <div class='post-item'>
        <span class='flex'>
          <input [checked]='post.commentaries_open' formControlName='commentaries_open' type='checkbox'> Commentaries
        </span>
      </div>
    </div>
    <div class='form-row'>
      <div class='post-item'>Slug:</div>
      <span class='flex'>
        <input (change)='onSlugChange()' [value]='post.slug' formControlName='slug' name='slug'>
      </span>
    </div>
    <div class='form-row form-btns'>
      <button (click)='send()' class='button button-submit' type='submit'>
        <span>Save</span>
      </button>
      <button (click)='this.postForm.reset()' class='button' type='reset'>Reset</button>
      <button (click)='delete()' *ngIf='post.id > 0' class='button delete-btn'>Delete</button>
    </div>
  </div>
</div>
