@import "../../../styles/variables";

.post {
  @form-row-margin: 12px;
  @form-item-margin: 8px;
  @form-item-border-radius: 2px;
  margin-top: @content-margin;

  .post-form {
    .form-row {
      &:not(.form-btns) {
        margin: 0 -(@form-item-margin / 2);

        > * {
          width: 100%;
          padding: 0 (@form-item-margin / 2);
        }
      }
    }
  }

  .post-form {
    .form-row {
      display: flex;
      justify-content: space-between;

      &:not(:last-child) {
        margin-bottom: @form-row-margin;
      }

      &:not(:first-child) {
        margin-top: @form-row-margin;
      }

      .flex {
        flex-grow: 1;
        flex-shrink: 1;

        .input {
          width: 100%;
        }
      }
    }

    .form-btns {
      justify-content: center;
    }

    .input, .button {
      box-sizing: border-box;
      border-radius: @form-item-border-radius;
    }

    .button:not(:last-child) {
      margin-right: @primary-margin;
    }

  }
}

.delete-btn {
  position: absolute;
  right: 0;
}

input {
  background-color : var(--color-background-secondary);
  color: var(--color-text);
}
